body{
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(0.25turn, #FE9D00, rgba(255,0,128), #0071FF);
    border-image-slice: 1;
    width:100%;
}

.leaflet-container{
    height: 400px;
    width: 400px;
}