footer{
    border-top: 1px solid rgba(83,83,83,0.3);
}   

footer .container{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(83, 83, 83);    
    font-family: Arial, Helvetica, sans-serif;  
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'f1 f2 f3';
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
}

.footer-nav-link{
    all: unset;
}

.footer-nav-link:hover{
    all: unset;
    cursor: pointer;
    text-decoration: underline;
}

#footer-logo-section img{
    width: 50px;
    margin-right: 10px;
}

#footer-logo-section{
    grid-area: f1;
    margin: 0;
}
#footer-middle-section{
    grid-area: f2;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    list-style:none;
    padding: 0;
}
#footer-language-section{
    grid-area: f3;
    text-align: right;
    margin: 0;
}

#footer-language-section label{
    margin: 0;
}

#footer-countries-dropdown{
    margin-left: 5px;
    padding: 1px;
    border: 0.5px solid rgba(83,83,83,0.4);
    line-height: none;
}

/* Media Query to adjust grid layout based on small vs large screens */
@media only screen and (max-width: 800px) {
    footer .container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'f2 f2'
        'f1 f3';
        row-gap: 40px;
    }
  }